@import "tailwindcss";

/* Create the overlay with dots */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* ensures you can still click things below */
  z-index: 999999; /* makes sure it stays above everything */
  background-image: radial-gradient(black 1.5px, transparent 1px);
  background-size: 150px 150px; /* adjust spacing of dots */
  opacity: 0.5; /* control how visible the dots are */
}
